/* normalizing my css */
*, 
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Redressed&display=swap');

body {
  font-family: 'Gideon Roman', cursive;
  background-color: lightblue;

}
@media (max-width: 800px), (max-height: 400px) {
  body {
    background-color: lightcoral;
    background-color: white;
  }

  h1 {
    font-size: 55px;
  }
  
}



button {
  font-family: 'Redressed', cursive;;
}